<div class="panel panel-default" id="edit_user">
  <div class="panel-heading">
    <i class="fa fa-user"></i>
    Perfil de <%= @user.name %>
  </div>
  <div class="panel-body">

    <div class="row">
    <%= form_for(resource, as: "user", url: registration_path("user"), html: {method: :put}) do |f| %>
      <div class="col-md-2">
        <%= f.fields_for :avatar, Media.new do |h|%>
          <br>
          <div class="file-input-group">
            <div class="file-input">
              <% if f.object.avatar.present? %>
                <%= image_tag f.object.avatar.image.url(:avatar), class: "img-rounded", id: "avatar_preview"%>
              <% else %>
                <%= image_tag "user-placeholder.png", class: "img-rounded", id: "avatar_preview" %>
              <% end %>
              <span class="btn btn-primary btn-file">
                <i class="fa fa-pencil"></i>
                <%= h.file_field :image, id: "avatar_input" %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-10">
          <% if @user.errors.present? %>
            <%= render_errors(@user) %>
          <% end %>
          <div class="form-group">
            <div class="row">
              <%= label_tag :name, "Nombre", class: "control-label col-md-2" %>
              <div class="col-md-10">
                <%= f.text_field :name, class: "form-control", placeholder: "Nombre" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <%= label_tag :email, "Email", class: "control-label col-md-2" %>
              <div class="col-md-10">
                <%= f.text_field :email, class: "form-control", placeholder: "Email", value: f.object.has_email? && f.object.email || "" %>
              </div>
            </div>
          </div>
          <% if resource.has_password? %>
            <div class="form-group">
              <div class="row">
                <%= label_tag :password, "Contraseña", class: "control-label col-md-2" %>
                <div class="col-md-10">
                  <%= f.text_field :password, class: "form-control", placeholder: "Dejala en blanco si no querés cambiarla", autocomplete: "off", type: "password" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <%= label_tag :current_password, "Contraseña actual", class: "control-label col-md-2" %>
                <div class="col-md-10">
                  <%= f.text_field :current_password, class: "form-control", placeholder: "La precisamos para verificar que seas vos quien hace los cambios", autocomplete: "off", type: "password" %>
                </div>
              </div>
            </div>
          <% end %>
      </div>

        <%= f.submit "Guardar", class: "btn btn-primary button-block" %>
      <% end -%>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="social-networks-clumps">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
    </span>
    Redes sociales
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="spacer-top"></div>
        <% User.omniauth_providers.each do |provider| %>
          <% if resource.has_oauth? provider %>
            <% if resource.has_password? || resource.has_many_oauths? %>
              <%= link_to unlink_provider_path(resource, provider: provider), method: :delete, class: "btn btn-#{provider.to_s == 'facebook' ? 'primary' : 'info'} button-block" do %>
                Vinculado a <%= provider.to_s.titleize %>
                <i class="fa fa-<%= provider.to_s %> pull-left social-media-icon"></i>
              <% end -%>
              <div class="spacer-top"></div>
            <% else %>
              <div class="btn btn-<%=provider.to_s == 'facebook' ? 'primary' : 'info'%> button-block disabled">
                Vinculado a <%= provider.to_s.titleize %>
                <i class="fa fa-<%= provider.to_s %> pull-left social-media-icon"></i>
              </div>
              <div class="spacer-top"></div>
            <% end %>
          <% else %>
            <%= link_to user_omniauth_authorize_path(provider: provider), class: "btn btn-#{provider.to_s == 'facebook' ? 'primary' : 'info'} button-block" do %>
              Vincular a <%= provider.to_s.titleize %>
              <i class="fa fa-<%= provider.to_s %> pull-left social-media-icon"></i>
            <% end -%>
            <div class="spacer-top"></div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<br>
<br>
<div class="text-center">
  Quiero <%= link_to "eliminar", "/users", method: :delete %> mi cuenta.
</div>
<br>
<br>