.row
  = link_to signin_path(:twitter), class: "btn btn-info col-xs-12" do
    %i.fa.fa-twitter.pull-left.social-media-icon
    = t(".login_twitter")
%br
.row
  = link_to signin_path(:facebook), class: "btn btn-primary col-xs-12" do
    %i.fa.fa-facebook.pull-left.social-media-icon
    = t(".login_facebook")
%hr
.row
  = form_for :user, url: session_path(:user), method: :post do |f|
    .form-group
      = f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control"
    .form-group
      = f.password_field :password, placeholder: "Password", class: "form-control"
    .button-block
      = f.submit  "Ingresar", class: "btn btn-primary"
