<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <%=  link_to 'Campanarium', root_path, class: "brand logo" %>
    <ul class="nav">
    <li class="main-menu-item">
      <%= link_to current_user.present? ? "NOTICIAS" : "INICIO", root_path, class: current_page?('/noticias') || current_page?('/') ? 'active' : '' %>
    </li>
    <li class="main-menu-item hidden-xs">
      <%= link_to "EL PROYECTO", static_page_path(StaticPage.about_us), class: current_page?(static_page_path(StaticPage.about_us)) ? 'active' : '' %>
    </li>
    <li class="main-menu-item hidden-xs">
      <%= link_to "FAQS", static_page_path(StaticPage.faqs), class: current_page?(static_page_path(StaticPage.faqs)) ? 'active' : '' %>
    </li>
    <li class="main-menu-item hidden-xs">
      <%= link_to "CONTACTO", static_page_path(StaticPage.contact), class: current_page?(static_page_path(StaticPage.contact)) ? 'active' : ''  %>
    </li>
    <li class="main-menu-item visible-xs">
      <%= link_to "INFO", static_pages_path, class: current_page?(static_pages_path) ? 'active' : '' %>
    </li>
    <%- if current_user.present? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= (current_user.name || current_user.email).upcase %>
          <b class="caret"></b>
        </a>
      <ul class="dropdown-menu">
        <li class="with-spacer">
          <%=  link_to  edit_user_registration_path, class: current_page?(edit_user_registration_path) ? 'active' : '' do %>
            <i class="fa fa-icon fa-user"></i>
            PERFIL
          <% end %>
        </li>
        <li class="with-spacer">
          <%= link_to users_path do %>
            <i class="fa fa-users"></i>
            USUARIOS
          <% end -%>
        </li>
        <li>
          <%=  link_to destroy_user_session_path, :method => :delete  do %>
            <i class="fa fa-icon fa-sign-out"></i>
            SALIR
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
  </div>
</div>
