<div class="navbar navbar-static-top">
  <div class="navbar-inner">
     <%=  link_to 'Campanarium', root_path, class: "brand" %>
    <ul class="nav">
        <li>
          <%= link_to "INICIO", root_path, class: current_page?('/noticias') || current_page?('/') ? 'active' : '' %>
        </li>
        <li>
          <%= link_to "EL PROYECTO", static_page_path(StaticPage.about_us), class: current_page?(static_page_path(StaticPage.about_us)) ? 'active' : '' %>
        </li>
        <li>
          <%= link_to "FAQS", static_page_path(StaticPage.faqs), class: current_page?(static_page_path(StaticPage.faqs)) ? 'active' : '' %>
        </li>
        <li>
          <%= link_to "CONTACTO", static_page_path(StaticPage.contact), class: current_page?(static_page_path(StaticPage.contact)) ? 'active' : ''  %>
        </li>
      <%- if current_user.present? %>
        <li>
          <%=  link_to 'Perfil', user_path(current_user), class: current_page?(user_path(current_user) ? 'active' : '') %>
        </li>
        <li>
          <%=  link_to 'Salir', destroy_user_session_path, :method => :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
