<!DOCTYPE html>
<html>
<head>
  <title>Campanarium</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render '/share/alert_messages' %>
  <div class=".borrar">
  <%=link_to 'Inicio', noticias_path if current_user%>
  <%=link_to 'Perfil', user_path(current_user) if current_user%>
  <%=link_to 'Editar', edit_user_registration_path if current_user%>
  <%=link_to 'Logout', destroy_user_session_path, :method => :delete if current_user%>
  </div>
<%= yield %>

</body>
</html>
