<!DOCTYPE html>
<html>
<head>
  <title>Campanarium</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="wrapper">
    <%=render "layouts/header"%>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%- if render_alert_messages? %>
      <%= render '/share/alert_messages' %>
    <% end %>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
